* {
  margin: 0;
}

.cards {
  background-color: black;
  max-width: 1020px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: black;
  color: white;
  max-width: 300px;
  padding: 20px;
}

.large {
  background-color: white;
  color: black;
  max-width: 45%;
}

.card img {
  width: 100%;
}

.card button {
  background-color: hotpink;
  color: whitesmoke;
}
